/* Icon Hang */
@keyframes #{$nameSpace}-icon-hang {
	0% {
		transform: translateY(6px);
	}
	50% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(6px);
	}
}

@keyframes #{$nameSpace}-icon-hang-sink {
	100% {
		transform: translateY(6px);
	}
}

@mixin icon-hang {
	@include hacks();
	transition-duration: $mediumDuration;

	.hvr-icon {
		transform: translateZ(0);
	}

	&:hover,
	&:focus,
	&:active {

		.hvr-icon {
			animation-name: #{$nameSpace}-icon-hang-sink,#{$nameSpace}-icon-hang;
			animation-duration: .3s,1.5s;
			animation-delay: 0s,.3s;
			animation-timing-function: ease-out,ease-in-out;
			animation-iteration-count: 1,infinite;
			animation-fill-mode: forwards;
			animation-direction: normal,alternate;
		}
	}
}
