/* Bounce Out */
@mixin bounce-out {
	@include hacks();
	transition-duration: $slowDuration;

	&:hover,
	&:focus,
	&:active {
		transform: scale(.8);
		transition-timing-function: cubic-bezier(.47,2.02,.31,-0.36);
	}
}
