/* Hang */
@keyframes #{$nameSpace}-hang  {
	0% {
		transform: translateY(8px);
	}
	50% {
		transform: translateY(4px);
	}
	100% {
		transform: translateY(8px);
	}
}

@keyframes #{$nameSpace}-hang-sink {
	100% {
		transform: translateY(8px);
	}
}

@mixin hang {
	@include hacks();

	&:hover,
	&:focus,
	&:active {
		animation-name: #{$nameSpace}-hang-sink, #{$nameSpace}-hang;
		animation-duration: .3s, 1.5s;
		animation-delay: 0s, .3s;
		animation-timing-function: ease-out, ease-in-out;
		animation-iteration-count: 1, infinite;
		animation-fill-mode: forwards;
		animation-direction: normal, alternate;
	}
}
