/* Pulse Grow */
@keyframes #{$nameSpace}-pulse-grow {
	to {
		transform: scale(1.1);
	}
}

@mixin pulse-grow {
	@include hacks();

	&:hover,
	&:focus,
	&:active {
		animation-name: #{$nameSpace}-pulse-grow;
		animation-duration: $mediumDuration;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
}
