/* Skew Forward */
@mixin skew-forward {
	@include hacks();
	transition-duration: $mediumDuration;
	transition-property: transform;
	transform-origin: 0 100%;

	&:hover,
	&:focus,
	&:active {
		transform: skew(-10deg);
	}
}
