/* Overline Reveal */
@mixin overline-reveal {
	$duration: $mediumDuration;

	@include hacks();
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		top: 0;
		background: $borderColor;
		height: $borderWidth;
		transform: translateY(-$borderWidth);
		transition-property: transform;
		transition-duration: $duration;
		transition-timing-function: ease-out;
	}

	&:hover,
	&:focus,
	&:active {

		&:before {
			transform: translateY(0);
		}
	}
}
